---
import Layout from '../layouts/Layout.astro';

import { getCollection, getEntryBySlug } from 'astro:content';
const intro = await getCollection('intro');
const { Content } = await intro[0].render();
---

<Layout title="Design to Dev Guide">
	<main>
		<!-- {intro.map(introEntry => ( -->
			<div>
				<Content />
			</div>
		<!-- ))} -->
	</main>
</Layout>
