.main-nav {
	border-bottom: 1px solid $lgray;
	font-weight: 500;
	padding: 0 1em;
	// font-family: $sans;
	a {
		color: $text;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
	}
}

ul {
	margin: 0;
	padding: 0;
}

/* clearfix */
ul::after {
	content: "";
	display: block;
	clear: both;
}

li {
	display: block;
	// float: left;
	&:first-child {
		.nuxt-link-active:not(.nuxt-link-exact-active) {
			&::after {
				display: none;
			}
		}
	}
}

[aria-current],
.nuxt-link-exact-active,
.nuxt-link-active {
	position: relative;
	display: inline-block;
}

[aria-current]::after,
.nuxt-link-exact-active::after,
.nuxt-link-active::after {
	position: absolute;
	content: "";
	width: calc(100% - 1em);
	height: 2px;
	background-color: $primary;
	display: block;
	bottom: -1px;
}

a {
	text-decoration: none;
	padding: 1em 0.5em;
	display: block;
}

.menu {
	padding: 0 0 2.333em 0;
	font-size: 1.333em;
	position: sticky;
	top: 2em;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&.index {
		font-size: 1.666em;
	}
	@include breakpoint(large) {
		padding: 2em 2em 2.333em 3em;
		&.index {
			padding-left: 0;
			padding-right: 0;
		}
	}
}